<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Flask Web App</title>
  {% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <nav>
      <h1>Flask Web App</h1>
      <div class="links">
        <ul>
          <li><a href="{{ url_for('views.index') }}" class="nav__link">Home</a></li>
        </ul>
        {% if not session["username"] %}
          <ul>
            <li><a href="{{ url_for('auth.register') }}" class="nav__link">Register</a></li>
          </ul>
          <ul>
            <li><a href="{{ url_for('auth.login') }}" class="nav__link">Login</a></li>
          </ul>
        {% else %}
          <ul>
            <li><a href="{{ url_for('auth.log_out') }}" class="nav__link">Log out</a></li>
          </ul>
        {% endif %}
      </div>
    </nav>
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>

</body>

</html>