{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

{% if session["username"] %}
  <h1>Welcome {{ session["username"] }}</h1>
  <p>I do hope that you are having a great day =)</p>
{% else %}
  <h1>Welcome to this humble web page</h1>
  <p>I do hope that you'll like it =)</p>
{% endif %}

<div class="call-to-action">
  <h2>Not registered yet?</h2>
  <p>You should consider registering</p>
  <p>It will be a blast!</p>
  <a class="btn" href="{{ url_for('views.register') }}" class="nav__link">Register</a>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <p class="ok" >{{ message }}</p>
  {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}