{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<form method="post">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Enter a username" value="{{ request.form['username'] }}">
  
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Enter a password" value="{{ request.form['password'] }}">

  <label for="confirm_password">Confirm Password</label>
  <input type="password" name="confirm_password" placeholder="Confirm password" value="{{ request.form['confirm_password'] }}">
  
  <button type="submit">Submit</button>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="warning" >{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</form>

{% endblock %}