/* General */

* {
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #282828;
    color: #EBDBB2;
}

main {
    background: #282828;
    color: #EBDBB2;
    margin: 0 2em 0 2em;
}

/* Header navigation bar */

header nav {
    background: #282828;
    color: #EBDBB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid #EBDBB2;
}

header nav h1 {
    color: #B8BB26;
}

.nav__link {
    background: inherit;
    color: #B8BB26;
    font-weight: 900;
    transition: ease 0.35s;
}

.nav__link:visited {
    color: #B8BB26;
}

.nav__link:focus,
.nav__link:hover {
    color: #EBDBB2;
    text-shadow: 0 0 5px #FFF,
        0 0 15px #EBDBB2,
        0 0 35px #EBDBB2;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    max-width: 15em;
}

input {
    background: #282828;
    color: #EBDBB2;
    border: 1px solid #B8BB26;
    border-radius: 3px;
    transition: ease 0.35s;
    margin-bottom: 1em;
}

input:focus {
    color: #EBDBB2;
    border: 1px solid #B8BB26;
    box-shadow: 0 0 5px #FFF,
        0 0 15px #B8BB26,
        0 0 35px #B8BB26;
}

form button {
    font-weight: 900;
    background: #B8BB26;
    color: #282828;
    border: 1px solid #B8BB26;
    max-width: 7em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 3px;
}

form button:focus,
form button:hover {
    border: 1px solid #B8BB26;
    box-shadow: 0 0 5px #FFF,
        0 0 15px #B8BB26,
        0 0 35px #B8BB26;
}