/* Color variables */

:root {
    --bg: #282828;
    --fg: #EBDBB2;
    --primary: #B8BB26;
    --warning: #FB4934;
    --ok: #8EC07C;
}

/* General */

* {
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: var(--bg);
    color: var(--fg);
}

main {
    background: var(--bg);
    color: var(--fg);
    margin: 0 2em 0 2em;
}

.warning {
    font-weight: 900;
    background: var(--bg);
    color: var(--warning);
    padding: 1em;
    border: 2px solid var(--warning);
}

/* Header navigation bar */

header nav {
    background: var(--bg);
    color: var(--fg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid var(--fg);
}

header nav h1 {
    color: var(--primary);
}

header nav .links {
    display: flex;
    gap: 1em;
}

.nav__link {
    background: inherit;
    color: var(--primary);
    font-weight: 900;
    transition: ease 0.35s;
}

.nav__link:visited {
    color: var(--primary);
}

.nav__link:focus,
.nav__link:hover {
    color: var(--fg);
    text-shadow: 0 0 5px #FFF,
        0 0 15px var(--fg),
        0 0 35px var(--fg);
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
    max-width: 15em;
}

input {
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--primary);
    border-radius: 3px;
    transition: ease 0.35s;
    margin-bottom: 1em;
}

input:focus {
    color: var(--fg);
    border: 1px solid var(--primary);
    box-shadow: 0 0 5px #FFF,
        0 0 15px var(--primary),
        0 0 35px var(--primary);
}

form button {
    font-weight: 900;
    background: var(--primary);
    color: #282828;
    border: 1px solid var(--primary);
    max-width: 7em;
    margin-bottom: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 3px;
}

form button:focus,
form button:hover {
    border: 1px solid var(--primary);
    box-shadow: 0 0 5px #FFF,
        0 0 15px var(--primary),
        0 0 35px var(--primary);
}